.gcloudignore
.git
.gitignore
*.hot-update.js*
README.md
.eslintignore
.eslintrc
.babelrc
.prettierrc
.prettierignore
.dockerignore

# Source code
/node_modules/
/home/circleci/project/node_modules/
**/*node_modules*
/pages/
/components/
/deploy/
/static/
comiccruncher-*.json
Makefile
Dockerfile
docker*
yarn-error.log
.idea/
