.gcloudignore
.git
.gitignore
node_modules/
*.hot-update.js*
README.md
.eslintignore
.eslintrc
.babelrc
.prettierrc
.prettierignore
.dockerignore

# Source code
/pages/
/components/
/deploy/
/static/
comiccruncher-*.json
Makefile
Dockerfile
docker*
yarn-error.log
.idea/
