version: 2.1
orbs:
  aws-ecr: circleci/aws-ecr@4.0.1
workflows:
  install_deps_build_and_deploy:
    jobs:
      - install_deps:
          filters:
            branches:
              only: /.*/
            tags:
              ignore: /.*/
      - build_publish_deploy:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
jobs:
  install_deps:
    machine: true
    steps:
      - checkout
      - restore_cache:
          keys: 
            - node_modules-{{ checksum "yarn.lock" }}
            - node_modules
      - run:
          name: Install dependencies.
          command: make docker-yarn-install-circleci
      - save_cache:
          key: node_modules-{{ checksum "yarn.lock" }}
          paths:
            - "node_modules"
  build_publish_deploy:
    machine: true
    steps:
      - checkout
      - restore_cache:
          keys: 
            - node_modules-{{ checksum "yarn.lock" }}
            - node_modules
      - add_ssh_keys:
          fingerprints:
            - "c8:9c:22:02:8e:c5:4b:8e:3b:80:70:a1:3d:59:cf:ca"
            - "4f:14:ed:5a:08:98:d9:79:07:58:bd:23:5a:45:07:e2"
            - "4d:5f:1b:f6:81:d2:89:21:cf:ed:2f:29:eb:4a:1c:d3"
      - aws-ecr/ecr-login
      - run:
          name: Build the Docker image
          command: |
            docker build -t comiccruncher/frontend:latest \
            --build-arg CC_AWS_ACCESS_KEY_ID=${CC_AWS_ACCESS_KEY_ID} \
            --build-arg CC_AWS_SECRET_ACCESS_KEY=${CC_AWS_SECRET_ACCESS_KEY} \
            --build-arg ENVIRONMENT=${CC_ENVIRONMENT} \
            --build-arg CC_AWS_BUCKET=${CC_AWS_BUCKET} \
            --build-arg CC_AWS_DEFAULT_REGION=us-east-1 .
      - run:
          name: Publish the Docker image
          command: |
            docker tag comiccruncher/frontend:latest 570480763436.dkr.ecr.us-east-1.amazonaws.com/comiccruncher/frontend:latest
            docker push 570480763436.dkr.ecr.us-east-1.amazonaws.com/comiccruncher/frontend:latest
      - run:
          name: Deploy
          command: make remote-deploy-all
