/* latin-ext */
@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: local('Bangers Regular'), local('Bangers-Regular'), url(https://flash.comiccruncher.com/font-files/FeVQS0BTqb0h60ACH5BQ2J5hm25mww.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: local('Bangers Regular'), local('Bangers-Regular'), url(https://flash.comiccruncher.com/font-files/FeVQS0BTqb0h60ACH55Q2J5hm24.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 200;
  src: url("https://flash.comiccruncher.com/font-files/Inter-UI-ExtraLight.woff2") format("woff2"),
        url("https://flash.comiccruncher.com/font-files/Inter-UI-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 200;
  src: url("https://flash.comiccruncher.com/font-files/Inter-UI-ExtraLightItalic.woff2") format("woff2"),
        url("https://flash.comiccruncher.com/font-files/Inter-UI-ExtraLightItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 400;
  src: url("https://flash.comiccruncher.com/font-files/Inter-UI-Regular.woff2") format("woff2"),
        url("https://flash.comiccruncher.com/font-files/Inter-UI-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 400;
  src: url("https://flash.comiccruncher.com/font-files/Inter-UI-Italic.woff2") format("woff2"),
        url("https://flash.comiccruncher.com/font-files/Inter-UI-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 500;
  src: url("https://flash.comiccruncher.com/font-files/Inter-UI-Medium.woff2") format("woff2"),
        url("https://flash.comiccruncher.com/font-files/Inter-UI-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 500;
  src: url("https://flash.comiccruncher.com/font-files/Inter-UI-MediumItalic.woff2") format("woff2"),
        url("https://flash.comiccruncher.com/font-files/Inter-UI-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 700;
  src: url("https://flash.comiccruncher.com/font-files/Inter-UI-Bold.woff2") format("woff2"),
        url("https://flash.comiccruncher.com/font-files/Inter-UI-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 700;
  src: url("https://flash.comiccruncher.com/font-files/Inter-UI-BoldItalic.woff2") format("woff2"),
        url("https://flash.comiccruncher.com/font-files/Inter-UI-BoldItalic.woff") format("woff");
}

/* --------------------------------------------------------------------------
Single variable font.

Note that you may want to do something like this to make sure you're serving
constant fonts to older browsers:
html {
  font-family: 'Inter UI', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter UI var', sans-serif;
  }
}

BUGS:
- Safari 12.0 will default to italic instead of regular when font-weight
  is provided in a @font-face declaration.
  Workaround: Use "Inter UI var alt" for Safari, or explicitly set
  `font-variation-settings:"slnt" DEGREE`.
*/
@font-face {
  font-family: 'Inter UI var';
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
  src: url("https://flash.comiccruncher.com/font-files/Inter-UI.var.woff2") format("woff2-variations"),
        url("https://flash.comiccruncher.com/font-files/Inter-UI.var.woff2") format("woff2");
}

/* --------------------------------------------------------------------------

"Inter UI var alt" is recommended for Safari and Edge, for reliable italics.

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter UI var alt', sans-serif;
  }
}

*/
@font-face {
  font-family: 'Inter UI var alt';
  font-weight: 100 900;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("https://flash.comiccruncher.com/font-files/Inter-UI-upright.var.woff2") format("woff2 supports variations(gvar)"),
        url("https://flash.comiccruncher.com/font-files/Inter-UI-upright.var.woff2") format("woff2-variations"),
        url("https://flash.comiccruncher.com/font-files/Inter-UI-upright.var.woff2") format("woff2");
}
@font-face {
  font-family: 'Inter UI var alt';
  font-weight: 100 900;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("https://flash.comiccruncher.com/font-files/Inter-UI-italic.var.woff2") format("woff2 supports variations(gvar)"),
        url("https://flash.comiccruncher.com/font-files/Inter-UI-italic.var.woff2") format("woff2-variations"),
        url("https://flash.comiccruncher.com/font-files/Inter-UI-italic.var.woff2") format("woff2");
}
